.input__label {
  color: $pink;
  text-transform: uppercase;
  margin-left: 21px;
  margin-bottom: 7px;
  // display: block;
}

.input__custom-input {
  border: 2px solid #e5e5e5;
  font-size: 18px;
  width: 100%;
  padding: 18px 10px 19px 20px;
  transition: 0.1s;
}

.input__custom-input:hover {
  border-color: $blue;
}

.input__custom-input:active,
.input__custom-input:focus {
  border-color: $pink;
}

@media (min-width: 660px) {
  .input {
    display: flex;
    align-items: center;
  }

  .input__label {
    margin-left: 17px;
    margin-top: 8px;
  }

  .input__custom-input {
    margin-left: 20px;
  }

  .input--column {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 496px;
    margin: 0 auto;
    margin-bottom: 17px;
    position: relative;
  }

  .input--column::before {
    position: absolute;
    content: "";
    top: 1px;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: #e5e5e5;
  }

  .input--column::after {
    position: absolute;
    content: "";
    top: 22px;
    right: 20px;
  }

  .input--column-phone::after {
    background-image: url("../img/icon-phone.svg");
    width: 20px;
    height: 19px;
  }

  .input--column-mail::after {
    background-image: url("../img/icon-mail.svg");
    width: 18px;
    height: 13px;
  }

  .input--column .input__custom-input {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .input__custom-input {
    width: 371px;
  }

  .input--column {
    margin: 0;
    width: 371px;
  }
}
