.photo__info {
  background-color: #f2f2f2;
}

.photo__author {
  font-weight: 700;
}

.photo__time {
  font-size: 12px;
  font-weight: 300;
  font-family: "Open Sans Light", "Arial", sans-serif;
  text-transform: uppercase;
}

.photo__author-comment {
  line-height: 24px;
}

.photo__likes-amount {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;
}
