.tariffs {
  background-color: $grey;
  padding-top: 120px;
  padding-bottom: 47px;
  background-image: url("../img/bg-curve.svg");
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
}

.tariffs__amount {
  background-color: $blue;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  color: #ffffff;
  padding: 17px 10px;
  position: relative;
}

.tariffs__amount--hit {
  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/bg-hit.svg");
    width: 74px;
    height: 73px;
    top: 0;
    left: 0;
  }

  &::after {
    position: absolute;
    content: "Хит";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    top: 13px;
    left: 10px;
    transform: rotate(-45deg);
  }
}

.tariffs__price {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.tariffs__features,
.tariffs__list {
  @include list-reset;
}

.tariffs__name,
.tariffs__price {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.tariffs__name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.tariffs__option {
  margin: 0;
  border: 2px solid #e5e5e5;
  padding: 12px 50px 13px 20px;
  position: relative;
  font-weight: 400;

  &::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    right: 17px;
  }

  &--yes::after {
    width: 31px;
    height: 21px;
    background-image: url("../img/icon-yes.svg");
  }

  &--no::after {
    width: 26px;
    height: 27px;
    background-image: url("../img/icon-no.svg");
  }
}

.tariffs__options {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}


@media (max-width: 659px) {
  .tariffs__option {
    text-transform: uppercase;
    border-right: none;
    border-left: none;
    border-top: none;
  }

  .tariffs--wrapper {
    width: auto;
    padding: 0;
  }

  .tariffs__features {
    display: none;
  }

  .tariffs__list-container {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 20px;
  }

  .tariffs__list {
    display: flex;
    margin: 0 auto;
    transition: 0.4s;
  }

  .tariffs__list--first {
    transform: translateX(0);
  }

  .tariffs__list--second {
    transform: translateX(-280px);
  }

  .tariffs__list--third {
    transform: translateX(-560px);
  }

  .tariffs__item {
    min-width: 280px;
    margin-bottom: 40px;
  }
}

@media (min-width: 660px) {
  .tariffs {
    padding-top: 105px;
    padding-bottom: 65px;
  }

  .tariffs__slider {
    display: none;
  }

  .tariffs__name {
    font-size: 16px;
    margin-bottom: 0;
  }

  .tariffs__price {
    font-size: 18px;
  }

  .tariffs__amount {
    padding: 10px 10px 7px;
    min-height: 78px;
    border-right: none;
  }

  .tariffs__item {
    width: 155px;
  }

  .tariffs__option {
    font-size: 14px;
    padding: 5px 10px 2px 15px;
    min-height: 46px;
    border-right: none;
    border-left: none;
    border-top: none;
  }

  .tariffs__option::after {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .tariffs__option--yes::after {
    width: 31px;
    height: 21px;
  }

  .tariffs__option--no::after {
    width: 27px;
    height: 26px;
  }

  .tariffs__option:last-of-type {
    border-bottom: none;
  }

  .tariffs__features {
    width: 153px;
    margin-top: 78px;
  }

  .tariffs__text {
    display: none;
  }

  .tariffs__amount--hit::before {
    background-image: url("../img/bg-hit-tablet.svg");
    width: 61px;
    height: 61px;
  }

  .tariffs__amount--hit::after {
    top: 7px;
    left: 7px;
  }

  .tariffs__list-container {
    display: flex;
    flex-wrap: wrap;
  }

  .tariffs__list {
    display: flex;
    width: 465px;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .tariffs {
    margin-top: 20px;
    padding-top: 155px;
    padding-bottom: 95px;
    background-size: 100%, auto;
  }

  .tariffs__features {
    width: 234px;
    margin-top: 97px;
  }

  .tariffs__list {
    width: 705px;
  }

  .tariffs__item {
    width: 234px;
  }

  .tariffs__name {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .tariffs__price {
    font-size: 24px;
  }

  .tariffs__amount {
    padding: 15px 10px 18px;
  }

  .tariffs__option {
    min-height: 59px;
    font-size: 18px;
    padding: 14px 10px 12px 15px;
  }

  .tariffs__option::after {
    top: 18px;
  }

  .tariffs__amount--hit::before {
    background-image: url("../img/bg-hit.svg");
    width: 74px;
    height: 73px;
  }

  .tariffs__amount--hit::after {
    top: 13px;
    left: 10px;
  }
}
