.tariffs {
  background-color: #f2f2f2;
}

.tariffs__amount {
  background-color: #283645;
  border: 2px solid #283645;
  color: #ffffff;
}

.tariffs__name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.tariffs__price {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.tariffs__option {
  text-transform: uppercase;
}
