.textarea {
  font-size: 18px;
  color: $blue;
  border: 2px solid #e5e5e5;
  margin-top: 15px;
  width: 100%;
  min-height: 197px;
  padding: 19px 25px 10px 19px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.textarea:hover {
  border-color: $blue;
}

.textarea:active,
.textarea:focus {
  border-color: $pink;
}

@media (min-width: $tablet) {
  .textarea {
    width: 496px;
    // text-align: center;
    min-height: 190px;
    padding: 19px 20px 10px 19px;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: $desktop) {
  .textarea {
    width: 816px;
    min-height: 124px;
  }
}
