.wrapper {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .wrapper {
    width: 660px;
  }
}

@media (min-width: $desktop) {
  .wrapper {
    width: 960px;
    padding: 0 10px;
  }
}
